<div class="container pt-5">

<h1><%= @restaurant.name %></h1>
<p>Address : <%= @restaurant.address %> </p>

<p>Contact : <%= @restaurant.phone_number %> </p>
<p>Contact : <%= @restaurant.category %> </p>
<%= link_to "Go back mamen", restaurants_path, class:"btn btn-primary w-25" %>


<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class:"btn btn-primary w-30"  %>


<div class="container pt-5">
  <h4>Reviews :</h4>
<% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <%= review.rating.to_i.times do %>
    <i class="fas fa-star"></i>
  <% end %>
<% end %>
</div>


